* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: rgb(23, 22, 22);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 500px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50px;
}
.formContainer {
  background-color: white;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.formContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form input {
  border: none;
  background-color: rgb(225, 225, 225);
  margin: 8px 0 8px 0;
  height: 40px;
  border-radius: 5px;
  padding-left: 5px;
}
h1 {
  margin-bottom: 10px;
}
.passwordcheck {
  align-items: left;
  display: none;
}
#registrationcheck {
  display: none;
  margin-bottom: 1rem;
  color: red;
}
form button {
  width: 60%;
  margin-top: 12px;
  background-color: rgb(0, 0, 255);
  height: 40px;
  border-radius: 5px;
  color: white;
  font-weight: 900;
  border: none;
}
form button:hover {
  cursor: pointer;
}
#signUpButton {
  background-color: rgb(50, 50, 85);
}
.signIn {
  border-radius: 0 5% 5% 0;
}
.signUp {
  border-radius: 5% 0 0 5%;
}
.inactive {
  background-color: blue;
  transition: all 0.5s ease-in;
}
.switchButton {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  width: auto;
  height: auto;
  padding: 20px;
  font-weight: 900;
  font-size: 20px;
  border-radius: 10px;
}
.switchButton:hover {
  cursor: pointer;
}
